* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    /* padding: 20px; */
}
header {
    background: #4CAF50;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #2E7D32 3px solid;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding img {
    height: 100px;
    margin-top: -25px;
    margin-bottom: -15px;
}
header nav {
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a {
    color: #FFD700;
    font-weight: bold;
}
header a:hover {
    color: #ffffff;
    font-weight: bold;
}
.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.info-section {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.upload-section {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}
.btn {
    display: inline-block;
    background: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover {
    background: #45a049;
}
#imageContainer{
    display: flex;
    justify-content: center;
}
#imagePreview {
    width: 300px;
    margin-top: 20px;
    position: relative;
}
.scanner {
    position: absolute;
    top: 0;
    /* left: 29.5%; */
    width: 300px;
    height: 5px;
    background-color: rgba(76, 175, 80, 0.5);
    animation: scan 3s linear infinite;
    display: none;
}
    /* HTML: <div class="loader"></div> */

.loading{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader {
    height: 30px;
    aspect-ratio: 2;
    display: grid;
    background:
      radial-gradient(farthest-side,#000 15%,#0000 18%)0 0/50% 100%,
      radial-gradient(50% 100% at 50% 160%,#fff 95%,#0000) 0 0   /50% 50%,
      radial-gradient(50% 100% at 50% -60%,#fff 95%,#0000) 0 100%/50% 50%;
    background-repeat: repeat-x;
    animation: l2 1.5s infinite linear;
  }
  @keyframes l2 {
    0%,
    15% {background-position:0   0,0 0,0 100%}
    20%,
    40% {background-position:5px 0,0 0,0 100%}
    45%,
    55% {background-position:0   0,0 0,0 100%}
    60%,
    80%{background-position:-5px 0,0 0,0 100%}
    85%,
    100% {background-position:0   0,0 0,0 100%}
  }


#result{
    display: none;
    padding: 20px 40px;
    color: #ffffff;
}


#result span{
    margin-bottom: 10px;
}

@keyframes scan {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #2E7D32;
    text-align: center;
}

@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header {
        padding-bottom: 20px;
    }
    .hamburger {
        display: block;
        float: right;
        margin-top: -50px;
    }
    header nav {
        display: none;
    }
    header nav.show {
        display: block;
    }
    header nav ul {
        margin-top: 20px;
    }
    header nav li {
        padding: 10px;
        background: #3e8e41;
        margin-bottom: 1px;
    }
    #features .feature {
        width: 80%;
        margin: 10px auto;
    }
}