<!DOCTYPE html>
<html lang="en">
<head xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Crop Predictor</title>
    <link rel="stylesheet" type="text/css" href="../static/Predictor.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
       
</head>
<body>
    <div id="loader">
        <img src="https://cdn.dribbble.com/users/1385017/screenshots/3518448/media/a4e10372b7543174af03860354561698.gif" height="100%" width="100%">
    </div>
    <div id="nav">
        <a href="{{url_for('index')}} ">  <h1><img src="https://cdn-icons-png.flaticon.com/512/3377/3377932.png" alt=""> agroKisan </h1> </a>
          <div id="nav-prt2">
              <div id="contact_us">
                  <a href="tel:+916261623713"> <i class="ri-whatsapp-line"></i> </a>
                  <a href="https://www.instagram.com/_deepak094_/"><i class="ri-instagram-line"></i> </a> 
                   <a href="https://twitter.com/deepak_094"><i class="ri-twitter-line"></i> </a>
                  <a href="https://www.linkedin.com/in/deepak-singh-566787172/"><i class="ri-linkedin-box-line"></i> </a> 
               </div>
          </div>
      </div>
    <div id="main">
    <div class="form">
        <div class="side-img">
            <img src="http://pngimg.com/uploads/wheat/wheat_PNG58.png" height="100%", width="100%">
        </div>
        <h1 class="title">Crop Recommendation System</h1>
        <p id="description" >Please Enter the Required details</p>
      
        <form method="post" accept-charset="utf-8" name="Modelform">
            <div id="first4">
            <label>Enter the Potassium</label>
            <input type="text" class="write-input" id="area" name="potassium"  placeholder="Potassium">
           
            <label>Enter the Nitrogen</label>
            <input type="text" class="write-input" id="area" name="nitrogen"  placeholder="Nitrogen">

            <label>Enter the Phosphorus</label>
            <input type="text" class="write-input" id="area" name="phosphorus" placeholder="Phosphorus">

            <label>Enter the Humidity</label>
           <input type="text" class="write-input" id="area" name="humidity" placeholder="Humidity">
        </div>
        <div id="last3">
             <label>Enter the Temperature </label>
            <input type="text" class="write-input" id="temperature" name="temperature"
                          placeholder="Temperature  ">
    
            <label>Enter the pH </label>
              <input type="text" class="write-input" id="ph" name="ph"
                                 placeholder="pH ">
            <label>Enter the Rainfall</label>
            <input type="text" class="write-input" id="rainfall" name="rainfall"
                                        placeholder="Rainfall">                    
    
           <div class="bt">
           <button class="glow-on-hover" onclick="send_data()">Predict Crop</button>
           </div>
        </div>
        </form>
        <div class="row">
            <div class="out" style="text-align: center">
                <h4><span id="prediction"></span></h4>
            </div>
        </div>
    </div>
</div>


<script>
    
    function form_handler(event) {
        event.preventDefault(); // Don't submit the form normally
    }
    function send_data()
    {
        document.querySelector('form').addEventListener("submit",form_handler);

        var fd=new FormData(document.querySelector('form'));

        var xhr= new XMLHttpRequest({mozSystem: true});

        xhr.open('POST','/predict',true);
        document.getElementById('prediction').innerHTML="Wait! Predicting Crop.....";
        xhr.onreadystatechange = function(){
            if(xhr.readyState == XMLHttpRequest.DONE){
                document.getElementById('prediction').innerHTML="Prediction: "+xhr.responseText;
            }
        };

        xhr.onload= function(){};

        xhr.send(fd);
    }

    


</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>


</body>
</html>