<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Rainfall.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="nav">
        <a href="{{url_for('index')}} ">  <h1><img src="https://cdn-icons-png.flaticon.com/512/3377/3377932.png" alt=""> agroKisan </h1> </a>
          <div id="nav-prt2">
              <div id="contact_us">
                  <a href="tel:+916261623713"> <i class="ri-whatsapp-line"></i> </a>
                  <a href="https://www.instagram.com/_deepak094_/"><i class="ri-instagram-line"></i> </a> 
                   <a href="https://twitter.com/deepak_094"><i class="ri-twitter-line"></i> </a>
                  <a href="https://www.linkedin.com/in/deepak-singh-566787172/"><i class="ri-linkedin-box-line"></i> </a> 
               </div>
          </div>
      </div>

      <div id="clock">
        <div id="aboveClock">
            <h1><span> COMING</span> &nbsp <span>SOON</span> </h1>
        </div>
        <div id="insideClock">
            <div class="hand hour-hand" id="hourHand"></div>
            <div class="hand second-hand" id="secondHand"></div>
        </div>
        <div id="aboveClockBtm">
            <h5>STAY TUNED !</h5>
        </div>
      </div>
    <script src="../static/Rainfall.js"></script>
</body>
</html>